body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Shantell Sans", cursive;
    margin-bottom: 100px;

}

header {
 border-bottom: solid 1px rgb(255, 234, 11); 
 padding: 20px;
 font-size: 32px;
 color: rgb(255, 234, 11);
}

.chamada {

background: rgb(211 7 7);
padding-bottom: 30px;
padding-top: 30px;
display: flex;
justify-content: center;
}

chamada-texto {
margin-right: 60px;
}

h1 {
font-size: 35px;
}

P {
    font-size: 20px;
}

img {
 height: 250px;
}

.categoria-videos{
    display: flex;
    overflow-y: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px
}

.categoria-videos img:hover {
    opacity: 1.0;
}

.categoria h2 {
    color:rgb(255, 234, 11);
}



